
.card {
    width: 100%;
    padding: 1em 0 5em 0;
    border-radius: 20px black;
}

.container {
    margin: 2em 2em;
    .title {
        color: black;
        margin: 1em 1em;
        font-size: 18px;
        text-align: center;
    }
    
    .mat-form-field1{
        margin-left: 6em;
        width: 87%;
    }

    .mat-form-field2 {
        margin-left: 6em;
        width: 90%;
    }

    mat-label {
        color: black;
        font-size: 17px;
    }

    input {
        color: black;
    }

}

.full-with {
    width: 100%;
}

.div-table{
    width: 90%;
    margin: 2em 0em 0em 6em;
    table {
        width: 100%;
        td,th {
            width: 20%;
            text-align: center;
        }
    
    }
    
    .mat-paginator {
        color: black;
        margin-left: 5.8em;
        width: 95%;
    }
}
