<div class="container">
  <h1>Listando Repositórios</h1>
  <mat-card class="card mat-elevation-z8">
    <mat-card-content>
      <div>
        <mat-card-subtitle class="title"
          >Liste todos os repositórios do GitHub usando apenas o username
        </mat-card-subtitle>
        <div>
          <mat-form-field appearance="legacy">
            <mat-label>Informe o username</mat-label>
            <input
              (keydown)="searchEvent($event)"
              [(ngModel)]="username"
              name="username"
              placeholder="Ex. nosremehj"
              required
              matInput
              maxlength="50"
            />
          </mat-form-field>
          <button
            (click)="searchRepository()"
            [disabled]="!validaCampos()"
            mat-button
          >
            <i class="material-icons">search</i>
          </button>
        </div>
      </div>

      <mat-list  *ngFor="
      let dados of REPOSITORY_DATA
        | paginate
          : {
              itemsPerPage: 5,
              currentPage: page,
              totalItems: REPOSITORY_DATA.length
            }
        ">
        <mat-divider></mat-divider>
        <mat-list-item
        ><div class="img-a">
            <img
              matListAvatar
              src="{{ dados.owner.avatar_url }}"
              alt="Imagem do perfil do github"
            />
            <mat-card-title>
              <a matLine target="_blank" href="{{ dados.html_url }}">
                {{ dados.name }}
              </a>
            </mat-card-title>
            <div class="description">
              <p matLine>{{ dados.description }}</p>
            </div>
          </div>
          <div class="chip-p">
            <mat-chip-list *ngIf="dados.language !== null">
              <mat-chip>{{ dados.language }} </mat-chip>
            </mat-chip-list>
            <span matLine>
              Criado em: {{ dados.created_at | date: "dd/MM/yyyy" }}</span
            >
            <span matLine>
              Ultima atualização em:
              {{ dados.pushed_at | date: "dd/MM/yyyy" }}</span
            >
          </div>
        </mat-list-item>
        <p class="homepage" >
          <a matLine target="_blank" href="{{ dados.homepage }}">
            {{ dados.homepage }}</a
          >
        </p>
      </mat-list>
      <pagination-controls
        (pageChange)="page = $event"
        [responsive]="true"
      ></pagination-controls>
    </mat-card-content>
  </mat-card>
</div>
